*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
    background-size: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    min-width: 205px;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/*.container__head img {
    position: absolute;
    margin: 30px 31px;
}*/
.container__head h1 {
  /*  display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
    padding-top: 31px;
    color: #1b1c1d;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 30px;
}
.container__head h1:before {
    content: url("../keylogo.png");

    margin-top: -2px;
    margin-right: 10px;
}
.container__head p {
   /* display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #7a7b7f;
    margin-left: 30px;
    max-width: 395px;
}
.container__head a {
    text-decoration: none;
    
}
.all-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*prover*/
    flex-wrap: wrap;
    padding-left: 28px;
    margin-right: 28px;
}
.nameinputs input {
    max-width: 194px;
    height: 40px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;
}
/*.all-inputs input:first-child {
    max-width: 194px;
    height: 40px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;

}
.all-inputs input:nth-child(2) {
    max-width: 194px;
    height: 40px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;
}*/
.all-inputs input:nth-child(2) {
    max-width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;

}
.all-inputs input:nth-child(3) {
    max-width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;

}
.all-inputs button {
    max-width: 400px;
    height: 50px;
    box-shadow: 0 3px 0 #bd1962;
    border-radius: 4px;
    background-color: #ea355a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.all-inputs button:hover {
    transform: scale(1.01);
    display: inline-block;
    transition: 1s;
}
.container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}
.container__footer article {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #7a7b7f;
    margin-left: 28px;
    margin-top: 25px;
    margin-bottom: 28px;
}
.container__footer article a:first-child {
    color: #e12a6c;
    text-decoration: none;
}
.container__footer article a:nth-child(2) {
    color: #e52e66;
    text-decoration: none;
}